div.d-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    margin: 0px 15px;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.container {
    border-radius: 15px;
    display: inline-block;
    /*background-color: #f2f2f2;*/
    background-color: white;
    padding: 20px;
    margin:8%;
    width: 80%;
}

.question-item-info-p{
    margin-right: 35px;
}

.bottom-pagination-container{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
input.w70 {
    width: 70%;
}

input[type=text].d-block {
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    white-space: nowrap;

}

hr {
    margin: 50px 20%;
}